.col-xs-6.col-xs-offset-3.col-sm-6.col-sm-offset-3
 br
 div.panel.panel-primary(style='height:30px')
   - var count = 0;
   -each val in cidade
     if count < 1
       |&nbsp&nbsp
       span= val.ouro
       |&nbsp&nbsp
       img(width='30px', height='30px', src='../images/recursos/ouro.png')
       |&nbsp&nbsp&nbsp
       span= val.madeira
       |&nbsp&nbsp&nbsp
       img(width='30px', height='30px', src='../images/recursos/madeira.png')
       |&nbsp&nbsp
       span= val.metal
       |&nbsp
       img(width='30px', height='30px', src='../images/recursos/metal.png')
       |&nbsp&nbsp
       span= val.pedra
       img(width='30px', height='30px', src='../images/recursos/pedra.png')
       |&nbsp
       span= val.energia
       img(width='30px', height='30px', src='../images/recursos/Lampada.png')
       |&nbsp
       span= val.comida
       img(width='30px', height='30px', src='../images/recursos/comida.png')
       |&nbsp&nbsp
       span= val.petrolio
       img(width='30px', height='30px', src='../images/recursos/petrolio.png')
       |&nbsp&nbsp
       span= user.dinheiro
       img(width='30px', height='30px', src='../images/recursos/moeda.png')
     - count++
