.navbar-collapse.collapse
  ul.nav.navbar-right
   li.dropdown
    a.dropdown-toggle(href='', data-toggle='dropdown')
      i.ti-check-box
      span Notes
     ul.dropdown-menu.dropdown-light.dropdown-messages.dropdown-large
      li
        span.dropdown-header  You have new notifications
      li
        .drop-down-wrapper.ps-container
          .list-group.no-margin
            a.media.list-group-item(href='')
              img.img-circle(alt='...', src='../images/avatar-1.jpg')
              span.media-body.block.no-margin
                | Use awesome animate.css
                small.block.text-grey 10 minutes ago
            a.media.list-group-item(href='')
              span.media-body.block.no-margin
                | 1.0 initial released
                small.block.text-grey 1 hour ago
      li.view-all
        a(href='#') See All
   li
    a(href='#Search')
     .item-content
     .item-media
       i.ti-home
      .item-inner
       span.title  Search User
    li.dropdown
      a.dropdown-toggle(href='', data-toggle='dropdown')
        span.dot-badge.partition-red
        i.ti-comment
        span MESSAGES
      ul.dropdown-menu.dropdown-light.dropdown-messages.dropdown-large
        li
          span.dropdown-header  Unread messages
        li
         .drop-down-wrapper.ps-container
            ul
              li.unread
                a.unread(href='javascript:;')
                  .clearfix
                    .thread-image
                      img(src='../images/default-user.png', alt='')
                    .thread-content
                      span.author Nicole Bell
                      span.preview Duis mollis, est non commodo luctus, nisi erat porttitor ligula...
                      span.time  Just Now
              li
                a.unread(href='javascript:;')
                  .clearfix
                    .thread-image
                      img(src='../images/default-user.png', alt='')
                    .thread-content
                      span.author Steven Thompson
                      span.preview Duis mollis, est non commodo luctus, nisi erat porttitor ligula...
                      span.time 8 hrs
              li
                a(href='javascript:;')
                  .clearfix
                    .thread-image
                      img(src='../images/default-user.png', alt='')
                    .thread-content
                      span.author Kenneth Ross
                      span.preview Duis mollis, est non commodo luctus, nisi erat porttitor ligula...
                      span.time 14 hrs
        li.view-all
          a(href='#') See All
    li
      a(href='#Support')
        i.ti-check-box
        span Support
    li
      a(href='',data-toggle='modal', data-target='.bs-example-modal-right')
        i.ti-world
        | Chat
    li
      a(href='#Ranking')
        i.ti-world
        | Ranking
    if(locals.user.user_type_id==1)
        li.dropdown.current-user
          a.dropdown-toggle(href='', data-toggle='dropdown')
            img(src='../images/default-user.png')
            span.username
                  b Player:
                  b= locals.user.username
              i.ti-angle-down
          ul.dropdown-menu.dropdown-dark
            li
              a(href='/Administration/perfil') My Profile
            li
              a(hef='#') My Messages (3)
            li
              a(href='#') Administration
            li
              a(href='../login/logout') Log Out
    if(locals.user.user_type_id==2)
            li.dropdown.current-user
              a.dropdown-toggle(href='', data-toggle='dropdown')
                img(src='../images/default-user.png')
                span.username
                      b Player:
                      b= locals.user.username
                  i.ti-angle-down
              ul.dropdown-menu.dropdown-dark
                li
                  a(href='/Administration/perfil') My Profile
                li
                  a(hef='#') My Messages (3)
                li
                  a(href='#') Moderador
                li
                  a(href='/login/logout') Log Out
    if(locals.user.user_type_id==3)
          li.dropdown.current-user
            a.dropdown-toggle(href='', data-toggle='dropdown')
              img(src='../images/default-user.png')
              span.username
                    b Player:
                    b= locals.user.username
                i.ti-angle-down
            ul.dropdown-menu.dropdown-dark
              li
                a(href='/Administration/perfil') My Profile
              li
                a(hef='#') My Messages (3)
              li
                a(href='/login/logout') Log Out
    if(locals.user.user_type_id==4)
        li.dropdown.current-user
          a.dropdown-toggle(href='', data-toggle='dropdown')
            img(src='../images/default-user.png')
            span.username
                  b Player:
                  b= locals.user.username
              i.ti-angle-down
          ul.dropdown-menu.dropdown-dark
            li
              a(href='/Administration/perfil') My Profile
            li
              a(hef='#') My Messages (3)
            li
              a(href='#') GameMaster
            li
              a(href='/login/logout') Log Out
    if(locals.user.user_type_id==5)
        li.dropdown.current-user
          a.dropdown-toggle(href='', data-toggle='dropdown')
            img(src='../images/default-user.png')
            span.username
                  b Player:
                  b= locals.user.username
              i.ti-angle-down
          ul.dropdown-menu.dropdown-dark
            li
              a(href='/Administration/perfil') My Profile
            li
              a(hef='#') My Messages (3)
            li
              a(href='/login/logout') Log Out
  .close-handle.visible-xs-block.menu-toggler(data-toggle='collapse', href='.navbar-collapse')
    .arrow-left
    .arrow-right
.modal.fade.bs-example-modal-right(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
   .modal-dialog.modal-dialog.modal-sm
     .modal-content
       .modal-header
         button.close(type='button', data-dismiss='modal', aria-label='Close')
           span(aria-hidden='true') ×
         h4.panel-title Chat
       .modal-body
          .panel-body.no-padding
            #chatBox.panel-scroll.height-330.perfect-scrollbar
              ol.discussion
                li.messages-date
                  | Sunday, Feb 9, 12:58
                li.self
                  .message
                    .message-name
                     | Peter Clark
                    .message-text
                     | Hi, Nicole
                    .message-avatar
                      img(src='../images/avatar-1.jpg', alt='')
                  .message
                    .message-name
                      | Nicole Bell
                    .message-text
                      | How are you?
                    .message-avatar
                      img(src='../images/avatar-1.jpg', alt='')
         .message-bar
           .message-inner
            a.link.icon-only(href='#')
              i.fa.fa-camera
            .message-area
              textarea(placeholder='Message')
            a.link(href='#')
              | Send
